/* Basic reset */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Container for the whole app */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  position: fixed; /* Ensure it stays in the corner even when scrolling */
  top: 10px;
  right: 10px; /* Change from left to right */
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.header-logo {
  width: 90px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
}

/* Main content */
main {
  padding-top: 60px; /* Ensure content is below the header */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Other styles for buttons, forms, etc. */
